<!DOCTYPE html>
<html>

<head>
<!--#header.html-->

<!-- build:css({app, .tmp}) styles/lehu.h5.index.css -->
<link href="/css/global_m.css" rel="stylesheet">
<link href="/css/layout_2015.css" rel="stylesheet">
<link href="/css/plus/swiper.min.css" rel="stylesheet" >
<!-- endbuild -->

</head>

<body>
    <div id="content"></div>

    <script type="text/lizard-config">

    {
        "url_schema": ["/index"],
        "model": {
          "apis": [
          {
            url: Lizard.restfullApi + '/initIndex.do',
            postdata: function() {
              return {}
            },
            name: 'index'
          }],
          setTDK: function()
          {
            return {
              title: "汇银乐虎全球家|汇集全球海外进口商品，进口食品，进口零食，进口母婴，进口美妆，海外原产地直采。",
              description: "汇银乐虎全球家（www.lehumall.com）汇集全球进口商品、进口零食、进口母婴，进口美妆，买进口商品，何须海外代购。",
              keywords: "进口商品,进口食品,进口零食,汇银乐虎,汇银乐虎全球家,乐虎,汇银乐虎,扬州电商,扬州O2O,扬州B2C,扬州B2B2C，江苏汇银电子商务有限公司,智慧社区"
            }
          },
          "filter": function(datas) {
            var compiled = _.template("hello: <%= name %>");
            var html = compiled({name: 'moe'});

            var data = datas[0];
            data.html = html;
            return data;
          }
        },
        "view":{
          "viewport": Lizard.T("viewportTmpl")
        }
    }

    
    </script>

    <script id="viewportTmpl" type="text/lizard-template">
        <%=html%>

    </script>
    
    <!-- build:js({app, .tmp}) /scripts/lehu.h5.page.index.js -->
    <script src="/scripts/lehu.require.config.js"></script>
    <script type="text/javascript">
    require(['lehu.h5.page.index']);
    </script>
    <!-- endbuild -->
</body>

</html>
