body { visibility: hidden; /* display:none;*/ background-color:#ffffff;}

@-webkit-keyframes fadeIn{0%{opacity:0}50%{opacity:.5}100%{opacity:1}}
.jbox{-webkit-animation-name: fadeIn;-webkit-animation-duration: .3s;-webkit-animation-iteration-count: 1; -webkit-animation-delay: 0s;}

/*中间框架*/
.nwrapper{width: 100%;position: relative;max-width: 750px;min-width: 320px;overflow: hidden;margin: 0 auto;}
.header{height:.88rem;background:#fff; border-bottom:1px solid #eeeeee;color:#323232;font-size:.34rem;line-height:.88rem;box-shadow: 0px 1px 1px 0px rgb( 225, 225, 225 );}
.header .back{ background:url(../images/login/login_04.png) no-repeat center center;width:.33rem;height:.33rem; display:block; float:left; padding:.275rem; position:relative;z-index:2; background-size:.33rem;}
.header h2{overflow:hidden;padding: 0 20%;text-align:center; margin:auto; width:60%; position:absolute; z-index:1;height:.88rem;color:#323232;text-overflow:ellipsis;white-space:nowrap;font-size:.34rem;line-height:.88rem;}
.header .rightlink{display:block;padding:0;width:auto;height:.88rem;color:#646464;text-align: right;font-size:.3rem;line-height:.88rem; position:relative; z-index:2; width:auto; display:block; float:right; padding:0 .24rem}
.login_main{ width:6.7rem; height:auto; display:block; float:left; margin:2rem .4rem 0;}
.login_main .item{width:100%;font-size:.26rem;float:left;}
.login_main .item.item_tips{margin-bottom:.1rem;display:none; height:.3rem;}
.login_main .item.item_tips .err_msg {font-size: .24rem;color: #f51449;}
.login_main .item .txt_input{width:5.89rem;height:1rem;line-height:normal;padding:0; border-bottom:1px solid #e1e1e1;font-size:.32rem;color:#666666;font-family:"Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif; float:left;}
.login_main .item .txt_input.txt_password{ width:4.89rem;}
.login_main .item_login_option{ height:.7rem;}
.login_main .item_login_option .retrieve_password{float:right;width:50%;text-align:right; line-height:.7rem;}
.login_main .item_login_option .retrieve_password a{color:#4997f1;font-size:.26rem; padding-left:.2rem;}
.login_main .item_login_option .login_free,.login_main .item_login_option .reg_protocol{float:left;width:auto; line-height:.7rem; font-size:.26rem; color:#646464;}
.login_main .item_login_option .login_free i,.login_main .item_reg_option .reg_protocol i{ background:url(../images/login/login_mei.png) no-repeat center center; background-size:100%; width:.26rem; height:.26rem;margin:.21rem .1rem 0 .81rem;}
.login_main .item_login_option .login_free.login_free_selected i,.login_main .item_reg_option .reg_protocol.reg_protocol_selected i{ background-image:url(../images/login/login_zhong.png);}
.reg_protocol a{ display:block; float:left;}
.reg_protocol a em{ color:#1caafc;}
.login_main .item_reg_option{ height:1rem; line-height:1rem;}
.login_main .item_reg_option .reg_protocol i{ margin-top:.37rem;}
.login_main .item_btns .btn_login,.main .item_btns .btn_next{display:inline-block;width:100%;height:1rem;border-radius:.1rem;background:#f51449;text-decoration:none;line-height:1rem;text-align:center;font-size:.32rem;color:#fff;}
.login_main .item_btns .btn_disabled{background:#e2e2e2 !important;cursor:default;color:#bdbdbd}
.login_main .item_password .tp_btn{display:block;width:.44rem;height:.44rem;border-bottom:1px solid #e1e1e1; background:url(../images/login/login_kai.png) no-repeat center center; background-size:.44rem; display: block; float:left; padding:.28rem;}
.login_main .item_password .btn_off{ background-image:url(../images/login/login_kai.png);}
.login_main .item_password .btn_on{ background-image:url(../images/login/login_guan.png);}
.login_main .item.joint_login{margin:1rem 0 0;bottom:1rem;left:0;width:100%}
.login_main .item i{ width:.35rem; height:.44rem; display:block; float:left; margin:.28rem .23rem; background-repeat:no-repeat; background-position: center center; background-size:100%;}
.icon_tel{ background-image:url(../images/login/login_shouji.png);}
.icon_pwd{ background-image:url(../images/login/login_mima.png);}
.icon_sms{ background-image:url(../images/login/login_yanzm.png);}
.txt_input::-webkit-input-placeholder{color: #e1e1e1;}
.login_main .btn_retransmit{float:right;overflow:hidden;height:.6rem;background:#f51449;border-radius:.1rem;line-height:.6rem;text-align:center;cursor:pointer;font-size:.26rem;color:#ffffff; padding:0 .2rem; margin-top:-.8rem;}
.login_main .btn_retransmit_disabled{background:#e2e2e2 !important;cursor:default;color:#bdbdbd;}
.login_main .item_btns .btn_findpwd{ margin-top:1.4rem;}

.login_tab{ width:53%; height:.7rem; display: table; background:#eaeaea; border-radius:.8rem; margin:.4rem auto 0;}
.login_tab span{ width:50%; height:.7rem; line-height:.7rem; font-size:.26rem; color:#787878; display:block; background:#eaeaea; border-radius:.8rem; margin:0; float:left; text-align:center;}
.login_tab span.active{ background:#f5174b; color:#ffffff;}
.item_tab{ display:none;}
.item_tab.item_password{ display:block;}
.item_login_btn{ margin-top:.9rem;}
.login_main .item .txt_input.txt_err{ color:#f51449;}


