/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* webkit引擎的浏览器取消默认样式(-webkit-appearance) */
input,textarea{-webkit-user-select:auto !important;user-select:auto !important;/*-webkit-appearance:none;*/}
:focus{outline:none;}
img{vertical-align:middle;border:0 none;}
a{text-decoration:none;color:inherit;}
section{display:block;margin:0 auto;}
header,footer{margin:0 auto;width:100%;}
em,i{font-style:normal;}
button,input{border:0 none;}
u,del{text-decoration:none;}
/* webkit引擎的浏览器取消默认样式 */
input[type="submit"],input[type="reset"],input[type="button"],input[type="password"],input[type="text"],button{-webkit-appearance:none;outline:none;}

.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
/*基于display:table-cell的自适应布局*/
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/*双栏自适应cell部分连续英文字符换行*/
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/*单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

html, a {-webkit-tap-highlight-color: transparent}
textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-modify: read-write-plaintext-only}

.noscroll {position: absolute;width: 100%;height: 100%;overflow: hidden;}
.hidden {display: none;}

html, body {line-height: 1;width: 100%;font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;-webkit-text-size-adjust: none;  }
body { visibility: hidden; /* display:none;*/ background-color:#1a0945;}

@-webkit-keyframes fadeIn{0%{opacity:0}50%{opacity:.5}100%{opacity:1}}
.jbox{-webkit-animation-name: fadeIn;-webkit-animation-duration: .3s;-webkit-animation-iteration-count: 1; -webkit-animation-delay: 0s;}

/*中间框架*/
.nwrapper{width: 100%;position: relative;max-width: 750px;min-width: 320px;overflow: hidden;margin: 0 auto;}
.top{ width:100%; height:auto; display:block; float:left;}
.coupon{ width:100%; height:auto; display:block; float:left; padding-bottom:.5rem;background: -webkit-linear-gradient(#160243, #1a0945);background: -o-linear-gradient(#160243, #1a0945); background: -moz-linear-gradient(#160243, #1a0945); background: linear-gradient(#160243, #1a0945);}
.coupon .main{ width:96%; height:auto; background:#f2e6d9; margin:0 2% 0; border-radius:.2rem; display:block; float:left;}
.coupon .main h1{ width:100%;height:.6rem; font-size:.4rem;color:#fa1a28;font-weight:bold; text-align:center; line-height:.7rem;display:block;float:left;}
.coupon .main span{ width:100%; height:auto; font-size:.25rem; color:#531128; text-align:center; line-height:.4rem;display:block; float:left;}
.coupon .main a{ width:2.82rem; height:1.44rem; display:block; float:left; margin:.1rem 0 .3rem .5rem;}
.floor{ width:100%; height:auto; display:block; float:left;}
.floor_top{ width:100%; height:1.65rem; display:block; float:left; background:url(../images/zhongqiu/title.jpg) no-repeat; background-size:100%; text-align:center; color:#ffffff; font-size:.4rem; font-weight:bold; line-height:2rem;}
.floor a{ width:40.933334%; height:auto; display:block; float:right;}
.floor a:nth-child(2){ width:59.066666%; height:auto; display:block; float:left; }
.foot{margin:.5rem 5% .3rem;border-top: 1px solid #ffffff;position: relative;padding-top: .21rem; float:left; width:90%;}
.foot span{position: absolute;top: -.19rem;left: 50%;background-color: #1a0945;padding: .05rem .15rem;color: #ffffff; font-size:.25rem;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.floor a img,.list_ad img,.coupon .main a img{ width:100%; height:auto; display:block; float:left;}

/*列表*/
.list_ad{ width:100%; height:auto; display:block; float:left;}
.list_main{width:100%; height:auto; display:block; float:left; background:#f0f0f0; padding-bottom:1rem; }
.list_main_nav{width:100%; /*height:.8rem; */border:1px solid #e1e1e1; border-left:0; border-radius:0; display:block; float:left; background:#ffffff;top:0; position:relative; max-width:750px; margin-bottom:.1rem;}
.list_main_nav li{ width:33.33333%;/*height:.8rem;*/ line-height:.8rem; text-align:center; font-size:.26rem; color:#323232; display:block; cursor:pointer; float:left;}
.list_main_nav li span{height:.8rem; display:table; width:auto; margin:-2px auto 0; border-bottom:2px solid #ffffff; color:#323232;}
.list_main_nav li.active span{ color:#f7144b;border-bottom:2px solid #f7144b;}
.list_box,.list_box_cont{ width:100%; height:auto; display:block; float:left;}
.list_box_title{ width:100%; height:.8rem; line-height:.8rem; display:block; float:left; background-size:100%; font-size:.3rem; text-align:center; color:#ffffff; margin-bottom:.1rem;}
/*.list_box_cont a{ width:3.7rem; height:5.1rem; display:block; float:left; margin:0 0 .1rem .1rem; background:#ffffff;}*/
.list_box_cont a{ width:3.7rem; height:4.5rem; display:block; float:left; margin:0 0 .1rem .1rem; background:#ffffff;}

/*.list_box_cont a:nth-child(odd){ margin-left:0;}*/
/*.list_box_cont a img{ width:3.5rem; height:3.5rem; display:block; float:left; margin:.1rem;}*/
.list_box_cont a img{ width:3.5rem; display:block; float:left; margin:.1rem;}
.list_box_cont a span{ width:3.5rem; height:.58rem; line-height:.3rem; float:left; margin:.1rem; font-size:.26rem; color:#323232;word-break: break-all;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;text-overflow: ellipsis;overflow: hidden;}
.list_box_cont a i{ height:auto; line-height:.3rem; display:block; float:left; margin:.1rem; font-size:.3rem; color:#fe0101;}













