<div class="nindex_ad" id="ajax_hotRecommendation">
    <% for (var k = 0; k < hotRecommendation.length; k++) { %>
		<% if(hotRecommendation[k]['TEMPLATE']==1){ %>
			<div class='nindex_ad_one'><a href='javascript:;'  data-IMG_URL='<%=hotRecommendation[k]['goods'][0].IMG_URL %>'  data-GOODS_ID='<%=hotRecommendation[k]['goods'][0].GOODS_ID %>' data-ID='<%=hotRecommendation[k]['ID'] %>'  data-TEMPLATE='<%=hotRecommendation[k]['TEMPLATE'] %>'>
			<img  class='lazyload' data-original="<%=hotRecommendation[k]['goods'][0].IMG_URL %>" >
			</a></div>
		<% } %>
		<% if(hotRecommendation[k]['TEMPLATE']==2){ %>
			<div class='nindex_ad_two'>";
				<% for (var i = 0; i < hotRecommendation[k]['goods'].length; i++) { %>
					<a href='javascript:;'  data-IMG_URL='<%=hotRecommendation[k]['goods'][i].IMG_URL %>'  data-GOODS_ID='<%=hotRecommendation[k]['goods'][i].GOODS_ID %>' data-ID='<%=hotRecommendation[k]['ID'] %>'  data-TEMPLATE='<%=hotRecommendation[k]['TEMPLATE'] %>'>
					<img  class='lazyload' data-original="<%=hotRecommendation[k]['goods'][i].IMG_URL %>" >
					</a>
				<% } %>
			</div>
		<% } %>
		<% if(hotRecommendation[k]['TEMPLATE']==3){ %>
			<div class='nindex_ad_three'>
				<% for (var i = 0; i < hotRecommendation[k]['goods'].length; i++) { %>
					<a href='javascript:;'  data-IMG_URL='<%=hotRecommendation[k]['goods'][i].IMG_URL %>'  data-GOODS_ID='<%=hotRecommendation[k]['goods'][i].GOODS_ID %>' data-ID='<%=hotRecommendation[k]['ID'] %>'  data-TEMPLATE='<%=hotRecommendation[k]['TEMPLATE'] %>'>
					<img  class='lazyload' data-original="<%=hotRecommendation[k]['goods'][i].IMG_URL %>" >
					</a>
				<% } %>
			</div>
		<% } %>
	<% } %>
</div>