<div class="nbanner">
    <div class="swiper-container">
        <div class="swiper-wrapper" id="ajax_banner">
            <% for (var k = 0; k < bannerList.length; k++) { %>
				<div class="swiper-slide" data-SORT="<%= bannerList[k]['SORT'] %>" data-BANNER-JUMP-ID="<%= bannerList[k]['BANNER_JUMP_ID'] %>" data-BANNER-IMG="<%= lehuImg(bannerList[k]['BANNER_IMG']) %>" data-ID="<%= bannerList[k]['ID'] %>" data-BANNER-LAYOUT="<%= bannerList[k]['BANNER_LAYOUT'] %>" data-BANNER-JUMP-FLAG="<%= bannerList[k]['BANNER_JUMP_FLAG'] %>' data-STATUS='<%= bannerList[k]['STATUS'] %>' data-NUM='<%= bannerList[k]['NUM'] %>" data-BANNER-NAME="<%= bannerList[k]['BANNER_NAME'] %>">
				<img class='lazyload' data-original="<%= lehuImg(bannerList[k]['BANNER_IMG']) %>"/>
				</div>
			<% } %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>