<!--顶部广告-->
<a href="" class="list_ad">
    <img src="{{imgprefix}}{{summary.bannerImg}}">
</a>
    
<!--列表-->
<div class="list_main">
    <!--列表导航-->
    <ul class="list_main_nav">

        {{#each data}}
        <li class="cms-src-elevatorfloor" style="width: {{tabWidth}}%" data-floor="floor{{@index}}">
            <span>{{list.TITLE}}</span>
        </li>
        {{/each}}

    </ul>

    {{#each data}}
        <div class="list_box_title" id="floor{{@index}}">
            <img src="{{imgprefix}}{{list.bannerImg}}" alt="" style="width:100%">
        </div>

        <div class="list_box_cont">
            {{#each list.pageBean}}
            <a href=""><img src="{{imgprefix}}{{COMMODITY_IMAGE_PATH}}"><span>{{COMMODITY_NAME}}</span><i>¥ {{PRICE}}</i></a>
            {{/each}}
        </div>

    {{/each}}
    
</div>

<style type="text/css">
    .list_box_title {
        height: 100%;
    }
</style>