<div style="display:none">
    <img src="http://lehumall.b0.upaiyun.com/upload/image/admin/2016/20160928/201609281633434725.png" style="width:700px">
</div>

<!--顶部-->
<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>领券中心</h2>
    <a href="javascript:;" class="rightlink" id="share"><img src="images/coupon/share.png" style="
    height: 0.33rem;
    width: 0.33rem;
    padding: 0.275rem 0rem 0.275rem 0.275rem;
"></a>
</header>

<!--中间-->
<section class="coupons_main" style="margin: 1rem 3% 0;">

    {{#each data}}

    <div class="coupons_box">
        <div class="coupons_box_l">
            <em>¥<b>{{PRICE}}</b></em>
            <span>{{TIP}}</span>
        </div>
        <div class="coupons_box_c">
        </div>
        <div class="coupons_box_r" data-id="{{ACTIVE_ID}}">
            <em>乐虎券</em>
            <span>{{RANGE_NAME}},{{TIP}}</span>
            <p>{{START_TIME}}至{{END_TIME}}<i>点击领取</i></p>
        </div>
    </div>

    {{/each}}

    {{#hasnodata data}}
    <div class="coupons_box" style="font-size: 16px; text-align: center; margin-top: 20px;">
        暂无数据~
    </div>
    {{/hasnodata}}
    
    
</section>
<!--/中间-->

<div id="sharetip" style="width: 100%; height: 100%; position: fixed; top: 0px; display:none">
  <div class="mask" style="background: rgba(0,0,0,0.6);height: 100%;"></div>
  <div class="share" style="z-index:999"></div>
</div>

<style type="text/css">
.share {
    background: url(images/coupon/sharetip.png) no-repeat;
    background-size: 270px;
    width: 270px;
    height: 308px;
    position: absolute;
    right: 10px;
    top: 0px;
    position: fixed;
    z-index: 1111;
}
.mask{
    background:rgba(0,0,0,0.8)
}
</style>