<div class="nheader_list" style="position:relative">
    <div class="nindex_fanhui" style="position:absolute"></div>
    <div class="" style="
    font-size: 0.4rem;
    line-height: 0.8rem;
    margin: auto 0;
    text-align: center;
">中秋献礼0.5周年庆</div>
</div>

<!--顶部-->
	<img src="images/zhongqiu/top.jpg" class="top">
    
<!--优惠券-->
    <div class="coupon" style="display: none">
        <div class="main">
            <h1>先囤券再抢购</h1>
            <span>领券时间：9.7-9.11；用券时间：9.10-9.14</span>
            <a href="javascript:;" class="getCoupon" data-acitveId="3452"><img src="images/zhongqiu/q01.jpg"></a>
            <a href="javascript:;" class="getCoupon" data-acitveId="3454"><img src="images/zhongqiu/q02.jpg"></a>
        </div>
    </div>
    
<!--楼层-->    
    <div class="floor">
        <div class="floor_top">【美容彩妆】</div>
        <a href="javascript:;" id="meirongactivity"><img src="images/zhongqiu/a01.jpg"></a>
        <a href="javascript:;" id="meirongproduct1"><img src="images/zhongqiu/a02.jpg"></a>
        <a href="javascript:;" id="meirongproduct2"><img src="images/zhongqiu/a03.jpg"></a>
    </div>
    
<!--楼层-->    
    <div class="floor">
        <div class="floor_top">【母婴专区】</div>
        <a href="javascript:;" id="moyingactivity"><img src="images/zhongqiu/b01.jpg"></a>
        <a href="javascript:;" id="moyingproduct1"><img src="images/zhongqiu/b02.jpg"></a>
        <a href="javascript:;" id="moyingproduct2"><img src="images/zhongqiu/b03.jpg"></a>
    </div>
    
<!--楼层-->    
    <div class="floor">
        <div class="floor_top">【营养保健】</div>
        <a href="javascript:;" id="yingyangactivity"><img src="images/zhongqiu/c01.jpg"></a>
        <a href="javascript:;" id="yingyangproduct1"><img src="images/zhongqiu/c02.jpg"></a>
        <a href="javascript:;" id="yingyangproduct2"><img src="images/zhongqiu/c03.jpg"></a>
    </div>
    
<!--楼层-->    
    <div class="floor">
        <div class="floor_top">【进口美食】</div>
        <a href="javascript:;" id="jinkouactivity"><img src="images/zhongqiu/d01.jpg"></a>
        <a href="javascript:;" id="jinkouproduct1"><img src="images/zhongqiu/d02.jpg"></a>
        <a href="javascript:;" id="jinkouproduct2"><img src="images/zhongqiu/d03.jpg"></a>
    </div>
    
<!--楼层-->    
    <div class="floor">
        <div class="floor_top">【家居日化】</div>
        <a href="javascript:;" id="jiajuactivity"><img src="images/zhongqiu/e01.jpg"></a>
        <a href="javascript:;" id="jiajuproduct1"><img src="images/zhongqiu/e02.jpg"></a>
        <a href="javascript:;" id="jiajuproduct2"><img src="images/zhongqiu/e03.jpg"></a>
    </div>
    
<!--底部-->

    <div class="foot">
    	<span>到底啦，快去挑好货吧~</span>
    </div> 

    <style type="text/css">
    .nheader_list{ position:relative;height:.8rem;width:100%; float:left;max-width: 100%; padding:.1rem 0; background:#ffffff; overflow:hidden;}
    .nindex_fanhui{ background:url(images/fanhui.png) no-repeat center center; background-size:.18rem; width:.55rem; height:.51rem; display:block; float:left; margin:.15rem 0 0 .1rem;}
    .nheader_list .nindex_sousuo{ background-color:#eeeeee;}
    .nindex_text{ width:5.4rem; margin:0 auto; text-align:center; font-size:.3rem; color:#434343;height:.8rem;line-height:.8rem;}
</style>
       