<!--顶部-->
<div class="open_top">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="{{groupinfo.IMG}}" /></div>
      <div class="swiper-slide"><img src="images/group/pt_postimg.jpg" /></div>
  </div>
  <div class="pagination"></div>  
</div>

<!--标题价格-->
<div class="open_title">
    <p>{{groupinfo.TITLE}}</p>
    <span>总重5.8-6.9斤，吃前详细看一看，松软香甜</span>
    <em><i>￥</i>{{groupinfo.ACTIVEPRICE}}</em>
    <del>{{groupinfo.GOODSPRICE}}</del>
</div>

<!--券-->
<div class="open_card">
    <div class="open_head">团长福利</div>
    <div class="open_card_box">
        <p><em><i>¥</i>10</em>满199元可用</p>
        <img src="images/group/pt_q.jpg">
        <span>使用范围：全场通用<br/>2016.8.20至2016.9.10</span>
    </div>
</div>

<!--券-->
<div class="jion">
  <div class="jion_box">
    <img src="images/group/pt_tx.png"><em>团长</em><b class="ell">过耳洞的风</b>
    <span>去参团<i></i></span>
    <p>12人团<i>已有100人参加</i></p>
  </div>
</div>

<!--详情-->
<div class="open_main">
  <div class="open_head">图文详情</div>
  {{{groupinfo.CONTENT}}}
</div>

<!--底部-->   
<div class="footer">
  <div class="footer_msg"><img src="images/group/pt_qz.png">12人可成团</div>
  <div class="footer_buy"><i>￥89.90</i>原价买</div>
  <div class="footer_open"><i>￥88.00</i>开团</div>
</div>

<!--底部-->
<div class="footer">
  <div class="footer_time"><img src="images/group/pt_js.png">08:12:35</div>
  <div class="footer_buy"><i>￥89.90</i>原价买</div>
  <div class="footer_open"><i>￥88.00</i>参团</div>
</div>  
