<div class="nwrapper">
    <img src="images/activity11112/activity_01.jpg" class="activity_top">
    <img src="images/activity11112/activity_02.jpg"  class="activity_msg">
    <div class="activity_box activity_box_01">
        <img src="images/activity11112/activity_03 .jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="86917" data-goodsno="77770202" data-storeid="1031"><img src="images/activity11112/activity_03(1).jpg"  ></a>
        <a href="javascript:;" data-goodsid="85888" data-goodsno="77770007" data-storeid="1031"><img src="images/activity11112/activity_03(2).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86121" data-goodsno="10020049" data-storeid="1031"><img src="images/activity11112/activity_03(3).jpg"  ></a>
        <a href="javascript:;" data-goodsid="93074" data-goodsno="8012712" data-storeid="0"><img src="images/activity11112/activity_03(4).jpg"  ></a>
    </div>

    <div class="activity_box activity_box_02">
        <img src="images/activity11112/activity_04 .jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="91697" data-goodsno="8015527" data-storeid="0"><img src="images/activity11112/activity_04(1).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86078" data-goodsno="10020005" data-storeid="1031"><img src="images/activity11112/activity_04(2).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86250" data-goodsno="10020124" data-storeid="1031"><img src="images/activity11112/activity_04(3).jpg"  ></a>
        <a href="javascript:;" data-goodsid="96829" data-goodsno="51000074" data-storeid="1082"><img src="images/activity11112/activity_04(4).jpg"  ></a>
    </div>

    <div class="activity_box activity_box_03">
        <img src="images/activity11112/activity_05 .jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="89956" data-goodsno="10030100" data-storeid="1031"><img src="images/activity11112/activity_05(1).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86259" data-goodsno="10020084" data-storeid="1031"><img src="images/activity11112/activity_05(2).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86268" data-goodsno="10020093" data-storeid="1031"><img src="images/activity11112/activity_05(3).jpg"  ></a>
        <a href="javascript:;" data-goodsid="86098" data-goodsno="10020104" data-storeid="1031"><img src="images/activity11112/activity_05(4).jpg"  ></a>
    </div>

    <div class="activity_box activity_box_04">
        <img src="images/activity11112/activity_06 .jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="80970" data-goodsno="8021451" data-storeid="0"><img src="images/activity11112/activity_06(1).jpg"  ></a>
        <a href="javascript:;" data-goodsid="91028" data-goodsno="8005616" data-storeid="0"><img src="images/activity11112/activity_06(2).jpg"  ></a>
        <a href="javascript:;" data-goodsid="96893" data-goodsno="51000075" data-storeid="1031"><img src="images/activity11112/activity_06(3).jpg"  ></a>
        <a href="javascript:;" data-goodsid="96520" data-goodsno="8030381" data-storeid="0"><img src="images/activity11112/activity_06(4).jpg"  ></a>
    </div>

    <div class="activity_box activity_box_05">
        <img src="images/activity11112/activity_07 .jpg" class="activity_box_top">
        <a href="javascript:;" data-goodsid="97533" data-goodsno="210000561" data-storeid="1081"><img src="images/activity11112/activity_07(1).jpg"  ></a>
        <a href="javascript:;" data-goodsid="91305" data-goodsno="8014627" data-storeid="0"><img src="images/activity11112/activity_07(2).jpg"  ></a>
        <a href="javascript:;" data-goodsid="97370" data-goodsno="8030788" data-storeid="0"><img src="images/activity11112/activity_07(3).jpg"  ></a>
        <a href="javascript:;" data-goodsid="95251" data-goodsno="30000011" data-storeid="1031"><img src="images/activity11112/activity_07(4).jpg"  ></a>
    </div>

    <div class="activity_footer_box">
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1308|1309|1310|1311|1312&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(1).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1313|1314|1315|1422|1423|1424&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(2).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1425|1426|1427|1428|1429|1430&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(3).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1431|1432|1433|1434|1435|1436&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(4).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1437|1438|1439|1440|1441|1442&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(5).jpg"></a>
        <a href="http://app.lehumall.com/html5/app/activities.html?ids=1443|1444|1445|1446|1447|1448&pageIndex=1&flag=2"><img src="images/activity11112/activity_08(6).jpg"></a>
    </div>

    <div class="foot">
        <span>整点满返0元购，仅此一天要任性！</span>
    </div>

</div>