<div class="nwrapper">
        <img src="images/activity1111/sale_01.jpg" class="sale_top">
        <img src="images/activity1111/sale_02.jpg"  class="sale_msg">
        
        <div class="sale_box sale_box_01">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_02">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_03">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_04">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_05">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
            <a href=""><img src="images/activity1111/sale_06.jpg"></a>
        </div>
        
        <div class="sale_footer_box">
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
            <a href=""><img src="images/activity1111/sale_09.jpg"></a>
        </div>
        
        <div class="foot">
            <span>万人疯抢中，好货手慢无哦!</span>
        </div>
    
    </div>