<!--banner-->
<div class="nheader_list">
    <div class="nindex_fanhui"></div>
	<div class="nindex_text">商品评价</div>
</div>
<div class="ncomment_top">
	<Span class="active">全部评价</br>2034</Span>
    <Span>好评</br>2034</Span>
    <Span>中评</br>43</Span>
    <Span>差评</br>41</Span>
    <Span>晒图</br>500</Span>
</div>
<!--/banner-->

<div class="nhr"></div>
<div class="nhr"></div>

<div class="ncomment_list">
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width5"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>
<div class="npost_pinglun_box">
    <span class="product-item-star"><span class="real-star comment-stars-width4"></span></span>
    <span class="npost_pinglun_msg">130****1036&nbsp;2016-05-21&nbsp;13:33:29</span>
    
    <span class="npost_pinglun_text">东西很棒！</span>
    
    <span class="npost_pinglun_img">
    <img class="lazyload" data-original="images/shangping.jpg"><img class="lazyload" data-original="images/shangping.jpg">
    </span>
</div>