<!--顶部-->
<header class="header" style="z-index: 9; position: fixed;border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>拼团</h2>
    <a href="javascript:;" class="rightlink" id="share"><img src="images/coupon/share.png" style="
    height: 0.33rem;
    width: 0.33rem;
    padding: 0.275rem 0rem 0.275rem 0.275rem;
"></a>
</header>


<!--顶部-->
<div class="open_top" style="margin-top: 1rem;">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="{{lehu-img imgprefix activitymap.IMG}}" /></div>
  </div>
  <div class="pagination"></div>  
</div>

<!--标题价格-->
<div class="open_title">
    <p>{{activitymap.TITLE}}</p>
    <span>{{activitymap.SUB_NAME}}</span>
    <em><i>￥</i>{{activitymap.ACTIVEPRICE}}</em>
    <del>￥{{activitymap.GOODSPRICE}}</del>
</div>

<!--券-->
{{#if isopen}}
<div class="open_card">
    <div class="open_head">团长福利</div>
    <div class="open_card_box">
        <p><em><i>¥</i>{{ticketmap.PRICE}}</em>{{ticketmap.TIP}}</p>
        <img src="images/group/pt_q.jpg">
        <span>使用范围：全场通用<br/>{{ticketmap.START_TIME}}至{{ticketmap.END_TIME}}</span>
    </div>
</div>
{{/if}}

<!--券-->
{{^if isopen}}
<div class="jion">
  <div class="jion_box">
    <img src="images/group/pt_tx.png"><em>团长</em><b class="ell">{{activitymap.USER_NAME}}</b>
    <span id="middlejoin">去参团<i></i></span>
    <p>{{activitymap.TOTALNUM}}人团<i>已有{{activitymap.PARTAKE_NUM}}人参加</i></p>
  </div>
</div>
{{/if}}

<!--详情-->
<div class="open_main">
  <div class="open_head">图文详情</div>
  {{{activitymap.CONTENT}}}
</div>

<!--底部-->   
{{#if isopen}}
<div class="footer">
  <div class="footer_msg"><img src="images/group/pt_qz.png">{{activitymap.TOTALNUM}}人可成团</div>
  <div class="footer_buy"><i>￥{{activitymap.GOODSPRICE}}</i>原价买</div>
  <div class="footer_open" id="opengroup"><i>￥{{activitymap.ACTIVEPRICE}}</i>开团</div>
</div>
{{/if}}

<!--底部-->
{{^if isopen}}
<div class="footer" >
  <div class="footer_time"><img src="images/group/pt_js.png"><span id="countdown"></span></div>
  <div class="footer_buy"><i>￥{{activitymap.GOODSPRICE}}</i>原价买</div>
  <div class="footer_open" id="joingroup"><i>￥{{activitymap.ACTIVEPRICE}}</i>参团</div>
</div>  
{{/if}}


<div id="sharetip" style="width: 100%; height: 100%; position: fixed; top: 0px; display:none">
  <div class="mask" style="background: rgba(0,0,0,0.6);height: 100%;"></div>
  <div class="share" style="z-index:999"></div>
</div>

<style type="text/css">
.share {
    background: url(images/coupon/sharetip.png) no-repeat;
    background-size: 270px;
    width: 270px;
    height: 308px;
    position: absolute;
    right: 10px;
    top: 60px;
    position: fixed;
    z-index: 1111;
}
.mask{
    background:rgba(0,0,0,0.8)
}
</style>

