<!--顶部-->
<header class="header">
    <a href="javascript:;" class="back"></a>
    <h2>领券中心</h2>
</header>

<!--中间-->
<section class="coupons_main">

    {{#each data}}
    <div class="coupons_box">
    	<div class="coupons_box_l">
    		<em>¥<b>{{PRICE}}</b></em>
            <ul><li>{{NAME}}</li><li>{{getDay STARTTIME}}至{{getDay ENDTIME}}</li></ul>
    	</div>
        <div class="coupons_box_c">
        </div>
        <div class="coupons_box_r" data-id="{{ID}}">立即领取&nbsp;></div>
    </div>
    {{/each}}
    
</section>
<!--/中间-->