<header class="header" style="z-index: 9; position: fixed;border-bottom: 0px;">
    <a href="javascript:;" class="back"></a>
    <h2>拼团</h2>
</header>
<!--顶部--> 
  <div class="tabs" style="top: 0.88rem;">
  <a href="#open" class="active"><span>团长</span></a> 
  <a href="#join" ><span>参团</span></a> 
  <a href="#success" ><span>成功团</span></a>
</div>

<!--列表-->   
<div class="swiper-container group_main" style="margin: 2rem 0 .5rem 0!important;">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        {{#each grouplist}}
        <div class="group_main_box" data-href="groupdetail.html?action=open&activityid={{id}}">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix goodsImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团</span>
                <a href="javascript:;" class="group_main_bt">去开团</a>
            </div>
        </div>
        {{/each}}
      </div>
  
      <div class="swiper-slide" style="display: none">       
        {{#each joinlist}}
        <div class="group_main_box" data-href="groupdetail.html?action=join&activityid={{activityId}}&id={{id}}">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix goodsImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团<i>{{partakeNum}}人已参团</i></span>
                <a href="javascript:;" class="group_main_bt">参团</a>
            </div>
        </div>
        
        {{/each}}
        
      </div>
      
      <div class="swiper-slide" style="display: none">

        {{#each successlist}}
          <div class="group_main_box" data-href="groupsuccess.html?action=success&activityid={{activityId}}&id={{id}}">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix goodsImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团<i>团购成功</i></span>
                <a href="javascript:;" class="group_main_bt">拼团详情</a>
            </div>
        </div>
        {{/each}}
        
      </div>
  
    </div>
</div>