<div>
<div class="ajax_noload"><img src="images/wifi.png">网络请求失败，请稍候再试<span><img src="images/sx.png"></span></div>

    <!--顶部-->
    <div class="nheader">
    <div class="nheader_cover"></div>
        <div class="nindex_shaomiao"></div>
        <div class="nindex_sousuo" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;"><em></em>全球购，找到好口碑</div>
        <div class="nindex_xiaoxi"></div>
    </div>
    <!--/顶部-->
    
    <!--banner-->
    <div class="nbanner">
        <div class="swiper-container">
            <div class="swiper-wrapper" id="ajax_banner">
           
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!--/banner-->
    
    <!--标签-->
    <div class="ntag" id="ajax_fastList">
    
    </div>
    <!--/标签-->
    
    <div class="nhr nmiaosha_nhr" ></div>
    
    <!--秒杀-->
    <div class="nmiaosha" >     
        <div class="nmiaosha_top">
            <img src="images/index_28.png" >&nbsp;<b class="ajax_timetext">距离开始</b><span class="getting-started"><em>00</em>:<em>00</em>:<em>00</em></span>&nbsp;<i class="ajax_REMARK"></i>
            <a href="javascript:;" data-title="nmiaosha_more" data-url="">更多>></a></div>
            <div class="nmiaosha_main" id="ajax_seckillList">
        </div>
    </div>
    <!--/秒杀-->
    
    <div class="nhr"></div>
    
    <!--广告位-->
    <div class="nindex_ad" id="ajax_hotRecommendation">
        
    </div>
    <!--/广告位-->
    <div class="nhr"></div>
    
    <!--分类楼层-->
    <div id="ajax_prommotionLayout">
    </div>
    
    <!--发现-->
    <div class="nfaxian">
     <div class="ajax_nfaxian_top"></div>
        
        <div class="nfaxian_main" id="ajax_showList"> 
        </div>
    </div>
    <!--/发现-->

    <!--弹出层-->
    <div class="index_popup">
        <div class="index_popup_box">
            <!--关闭-->       
            <div class="index_popup_box_close"></div>
            <div class="index_popup_box_main">
                <p><em>¥</em><i>20</i><span>乐虎券</span></p>
                <p><em>¥</em><i>50</i><span>乐虎券</span></p>
                <p><em>¥</em><i>80</i><span>乐虎券</span></p>
            </div>
            <!--领取-->
            <div class="index_popup_box_get"></div>
        </div>
    </div>
    <!--/弹出层-->

</div>

<style type="text/css">
    /*首页弹出层*/
.index_popup{ width:100%; height:100%; position:fixed; z-index:999; background:rgba(0,0,0,.7);}
.index_popup_box{ width:83%; height:7.86rem; display: block; float:left; margin:1.2rem 8.5% 0; background: url(../images/popup_bj.png) no-repeat; background-size:100%; position:relative;}
.index_popup_box_close{ width:.8rem; height:.8rem;position:absolute; top:0; right:0;}
.index_popup_box_get{ width:3.2rem; height:1.2rem;position:absolute; bottom:.2rem; left:1.1rem;}
.index_popup_box_main{ width:4.6rem; height:4.3rem; display:block; float:left; margin:1.9rem .37rem 0;}
.index_popup_box_main p{ width:100%; height:1.2rem;  display:block; float:left;}
.index_popup_box_main p em{ font-size:.2rem; color:#ff0000; font-weight:bold;font-family:arial;display:block;float: left;margin: .5rem 0 0 1.2rem;}
.index_popup_box_main p i{ font-size:.6rem; color:#ff002d; font-weight:bold;margin:0 .1rem;}
.index_popup_box_main p span{ font-size:.3rem; color:#333333; font-weight:bold; margin-top:-1rem;}

</style>
