<div class="" id="page">
    <header class="header" id="header" style="display:none">
        <a href="javascript:;" class="return-pege2 nindex_fanhui"> &lt; 返回</a>
        <div class="title">{{list.TITLE}}</div>
    </header>
    <!--布局2-->
    <!--布局1-->
    <div class="prefecture">
        <div class="p-ad">

            <div class="cms-src-elevatorbar" style="height: 88px;background: #fff"> 
                <nav class="elevator"> 
                    <div class="elevator-c1"> 
                        <ul style="width: {{width}}px"> 
                            {{#each data}}
                            <li class="cms-src-elevatorfloor" data-floor="floor{{@index}}">
                                <a href="javascript:void(0);" class="ellipsis" style="width: 108px">{{list.TITLE}}</a>
                            </li> 
                            {{/each}}
                        </ul> 
                    </div> 
                </nav> 
            </div>

        </div>

        {{#each data}}
        <div class="p-ad" id="floor{{@index}}">
            <a href="##">
                <img src="{{imgprefix}}{{list.bannerImg}}" alt="" style="width:100%">
            </a>
        </div>
        <div class="p-list" id="p-list">
            <ul>
                {{#each list.pageBean}}
                <li>
                    <a href="wapGoods.do?goods_id=642&amp;store_id=0&amp;goods_no=100427">
                        <span class="img">
                                <em><img src="{{imgprefix}}{{COMMODITY_IMAGE_PATH}}"></em>
                            </span>
                        <p>
                            <span class="t">{{COMMODITY_NAME}}</span>
                            <span class="s">
                                    <em class="price"><i class="price-icon">￥</i><i class="font-num">{{PRICE}}</i></em>
                                </span>
                            <span class="i">好评度：{{REVIEW_PERCENT}}%({{REVIEW_NUMBER}}人)</span>
                        </p>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
</div>

<style type="text/css">
    
.elevator {
    margin-bottom: 2px;
    background: #fff;
    position: relative;
    padding-right: 54px
}

.elevator::after {
    content: "";
    position: absolute;
    width: 50px;
    right: 54px;
    height: 92px;
    background: -webkit-gradient(linear,left top,right top,color-stop(30%,rgba(255,255,255,0.1)),to(#fff));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.1) 30%,#fff 100%);
    background: linear-gradient(to right,rgba(255,255,255,0.1) 30%,#fff 100%);
    top: 0;
    z-index: 2
}

.elevator-c1 {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    background: #fff;
    border-bottom: .85333px solid #e6e7e8;
    padding: 15.36px 0 15.36px 20.48px
}

.elevator-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999
}

.elevator ul {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    //width: 200%
}

.elevator li {
    margin-right: 10.24px;
    border-radius: 28px;
    height: 54.61333px;
    font-size: 22.18667px;
    text-align: center;
    line-height: 54.61333px;
    padding: 0 25px;
    width: 152px
}

.elevator li.active {
    border: 1.70667px solid #e73736
}

.elevator .active a {
    color: #e73736
}

.elevator-arrow {
    width: 54px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3
}

.elevator-arrow svg {
    width: 26px;
    height: 13px
}

.elevator-more {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000
}

.elevator-more .elevator-title {
    position: relative
}

.elevator-more h2 {
    font-weight: normal;
    padding-left: 32px;
    height: 88px;
    line-height: 88px;
    border-bottom: 2px solid #f1f1f1
}

.elevator-more ul {
    overflow: hidden;
    padding-top: 40px
}

.elevator-more li {
    float: left;
    text-align: center;
    width: 25%;
    margin-bottom: 40px
}

.elevator-more .active a {
    color: #ff5b54
}

.elevator-more .elevator-arrow svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

::-webkit-scrollbar {
    width: 0;
    height: 0
}

::scrollbar {
    width: 0;
    height: 0
}
</style>
