<!--顶部-->
<header class="header" style="border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>拼团</h2>
    <a href="javascript:;" class="rightlink" id="share"><img src="images/coupon/share.png" style="
    height: 0.33rem;
    width: 0.33rem;
    padding: 0.275rem 0rem 0.275rem 0.275rem;
"></a>
</header>

<!--顶部-->
<div class="open_ok_top">
  <img src="images/group/pt_topok.png">拼团成功
    <p>我们会尽快为您发货，请耐心等待！</p>
</div>  

<!--标题价格-->
<div class="open_ok_title">
  <img src="{{lehu-img imgprefix activitymap.GOODS_IMG}}">
    <p>{{activitymap.TITLE}}</p>
    <em><i>￥</i>{{activitymap.ACTIVEPRICE}}</em><del>¥ {{activitymap.GOODSPRICE}}</del>
    <b></b>
</div>

<!--人数-->
<div class="open_ok_mun">
  <p><img src="images/group/pt_qz.png">{{partake_num}}人参团</p>
    <span>
        {{#firstUser}}<img src="images/group/pt_tx.png"><em>团长</em>{{/firstUser}}
        {{#secondUser}}<img src="images/group/pt_tx.png"><em class="other">沙发</em>{{/secondUser}}
        {{#thirdUser}}<img src="images/group/pt_tx.png">{{/thirdUser}}
        <i></i>
    </span>
    对于诸位大侠的鼎力相助，团长感激涕零！
</div>


<!--人数列表-->
<div class="open_ok_list">

    <div class="open_ok_listbox open_ok_listfirst">
      <i></i>
      <img src="images/group/pt_tx.png"><em>团长</em><b class="ell">{{firstUser.USER_NAME}}</b><time>{{firstUser.CREATE_TIME}}</time>开团
    </div>

    {{#secondUser}}
    <div class="open_ok_list_xian"></div>
    
    <div class="open_ok_listbox open_ok_listtwo">
      <img src="images/group/pt_tx.png"><em class="other">沙发</em><b class="ell">{{secondUser.USER_NAME}}</b><time>{{secondUser.CREATE_TIME}}</time>参团
    </div>
    {{/secondUser}}

    {{#each lastUser}}
    <div class="open_ok_list_xian"></div>
    
    <div class="open_ok_listbox">
      <img src="images/group/pt_tx.png"><b class="ell left">{{USER_NAME}}</b><time>{{CREATE_TIME}}</time>参团
    </div>
    {{/each}}
</div>

<!--底部-->   
<div class="footer footer_ok">
  <div class="footer_time"><img src="images/group/pt_qz.png">拼团成功</div>
    <div class="footer_buy"><i>￥{{activitymap.GOODSPRICE}}</i>原价买</div>
</div>  

<div id="sharetip" style="width: 100%; height: 100%; position: fixed; top: 0px; display:none">
  <div class="mask" style="background: rgba(0,0,0,0.6);height: 100%;"></div>
  <div class="share" style="z-index:999"></div>
</div>

<style type="text/css">
.share {
    background: url(images/coupon/sharetip.png) no-repeat;
    background-size: 270px;
    width: 270px;
    height: 308px;
    position: absolute;
    right: 10px;
    top: 0px;
    position: fixed;
    z-index: 1111;
}
.mask{
    background:rgba(0,0,0,0.8)
}
</style>