<div class="index_popup_box">
        <!--关闭-->       
        <div class="index_popup_box_close"></div>
        <div class="index_popup_box_main">
            <p><em>¥</em><i>20</i><span>乐虎券</span></p>
            <p><em>¥</em><i>50</i><span>乐虎券</span></p>
            <p><em>¥</em><i>80</i><span>乐虎券</span></p>
        </div>
        <!--领取-->
        <a class="index_popup_box_get" data-acitveIds="2153,2153,2153" style="cursor:pointer;"></a>
    </div>