<div class="" id="page">
    <header class="header" id="header">
        <a href="javascript:;" class="return-pege2 nindex_fanhui" data-acitveId="2063"> 领券</a>
        <div class="title">{{list.TITLE}}</div>
    </header>
</div>
