<!--顶部-->
<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>满赠</h2>
    <a href="javascript:;" class="rightlink" id="gotocart">查看购物车</a>
</header>

<!--顶部-->   
<img src="http://lehumall.b0.upaiyun.com/upload/image/admin/2016/20161031/201610311614425028.jpg" class="fullgive_ad" style="margin-top: 1rem;">
<div class="fullgive_msg" style="display: none">
    <span>活动规则：</span>
    <p>
    	1.满100，送100五折满减券，（满200减100元全场通用券），每天限前100名<br/>
    	2.满200，送200五折满减券，（满400减200元全场通用券），每天限前100名<br/>
    	3.满300，送300全场通用红包，（满600减300元全场通用券）每天限前100名<br/>
		4.每个用户每天只能参加一次返券，按当天首单实付金额返券，若因会员个人原因取消订单，则所返券作废。
    </p>
</div>  
    
<!--列表-->
<ul class="fullgive_list">

    {{#each giftsActivityDetail}}
        <li>

        <a href="javascript:;">
            <img data-goodsid="{{GOODS_ID}}" data-goodsno="{{GOODS_NO}}" data-storeid="{{STORE_ID}}" src="{{lehu-img imgprefix IMG}}">
            <span>{{GOODS_NAME}}</span>

            {{^lehu-showDis DISCOUNT_PRICE GOODS_PRICE}}
            <em>乐虎价：¥ {{GOODS_PRICE}}</em>
            {{/lehu-showDis}}

            {{#lehu-showDis DISCOUNT_PRICE GOODS_PRICE}}
            <em>活动价：¥ {{DISCOUNT_PRICE}}</em>

            <em style="color: #aaaaaa;font-size: 0.24rem; display: none">
                ￥<del style="text-decoration: line-through;">{{GOODS_PRICE}}</del>
            </em>
            {{/lehu-showDis}}


            <i data-goodsid="{{GOODS_ID}}" data-goodsno="{{GOODS_NO}}" data-storeid="{{STORE_ID}}"></i>
        </a>
        </li>
        
    {{/each}}
    
</ul>

{{#if supplement.onLoadingData}}
        <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，正在加载，请稍等...</div>
    {{/if}}
    {{#if supplement.noData}}
        <div style="text-align: center;padding: 10px 0;font-size: 0.3rem;line-height: 0.7rem;"><span class="loading"></span>客官，没有更多了/(ㄒoㄒ)/~~</div>
    {{/if}}