<!--顶部-->   
<img src="images/activityreward/mz_topimg.jpg" class="fullgive_ad">
<div class="fullgive_msg">
    <span>活动规则：</span>
    <p>1.规则是什么<br/>2.规则是什么<br/>3.规则是什么</p>
</div>  
    
<!--列表-->
<ul class="fullgive_list">
    {{#each data}}
        <li><a href="javascript:;"><img src="{{lehu-img imgprefix IMG}}"><span>{{GOODS_NAME}}</span><em>乐虎价：¥ {{GOODS_PRICE}}</em><i></i></a></li>
    {{/each}}
</ul>