<div class="nheader_list" style="position:relative">
    <div class="nindex_fanhui" style="position:absolute"></div>
    <div class="" style="
    font-size: 0.4rem;
    line-height: 0.8rem;
    margin: auto 0;
    text-align: center;
">{{summary.activityName}}</div>
</div>

<!--顶部广告-->
<a href="" class="list_ad">
    <img src="{{imgprefix}}{{summary.bannerImg}}">
</a>
    
<!--列表-->
<div class="list_main">
    <!--列表导航-->
    <ul class="list_main_nav">

        {{#each data}}
        <li class="cms-src-elevatorfloor" style="width: {{tabWidth}}%" data-floor="floor{{@index}}">
            <span>{{promotion_name}}</span>
        </li>
        {{/each}}

    </ul>

    {{#each data}}
        <div class="list_box_title" id="floor{{@index}}" data-activityid="{{promotion_id}}">
            <img src="{{imgprefix}}{{promotion_banner}}" alt="" style="width:100%">
        </div>

        <div class="list_box_cont">
            {{#each goodsList}}
            <a href="javascript:;" data-goods-id={{GOODS_ID}} data-goods-no={{GOODS_NO}} data-store-id={{STORE_ID}}><img src="{{imgprefix}}{{IMG}}"><span>{{GOODS_NAME}}</span>

            <div class="nlist_list_jiage">

                {{^lehu-showDis DISCOUNT_PRICE GOODS_PRICE}}
                <i>¥ {{GOODS_PRICE}}</i>
                {{/lehu-showDis}}

                {{#lehu-showDis DISCOUNT_PRICE GOODS_PRICE}}
                <i>¥ {{DISCOUNT_PRICE}}</i>
                <span style="margin-top: 7px;color: #aaaaaa;font-size: 0.24rem; width: 30%">
                    ￥<del style="text-decoration: line-through;">{{GOODS_PRICE}}</del>
                </span>
                {{/lehu-showDis}}

            </div>

            </a>
            {{/each}}
        </div>

    {{/each}}
    
</div>

<style type="text/css">
    .list_box_title {
        height: 100%;
    }
</style>


<style type="text/css">
    .nheader_list{ position:relative;height:.8rem;width:100%; float:left;max-width: 100%; padding:.1rem 0; background:#ffffff; overflow:hidden;}
    .nindex_fanhui{ background:url(images/fanhui.png) no-repeat center center; background-size:.18rem; width:.55rem; height:.51rem; display:block; float:left; margin:.15rem 0 0 .1rem;}
    .nheader_list .nindex_sousuo{ background-color:#eeeeee;}
    .nindex_text{ width:5.4rem; margin:0 auto; text-align:center; font-size:.3rem; color:#434343;height:.8rem;line-height:.8rem;}

    .list_box_cont a {
        width: 47%;
        display: block;
        float: left;
        margin: .07rem 0 0 1.5%;
        background: #ffffff;
        border: 1px solid #e5e5e5;
    }

    .list_box_cont a img {
        margin: 0rem;
    }

    .list_box_cont a img {
        width: 90%
    }

    .list_box_cont a span {
        width: 98%;
        margin: 1% 1% 0;
    }
</style>