<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:;" class="back"></a>
    <h2>11.11汇银乐虎为您省</h2>
</header>

<div class="nwrapper" style="margin-top: 1rem;">


        <img src="images/activity1111/sale_01.jpg" class="sale_top">
        <img src="images/activity1111/sale_02.jpg"  class="sale_msg">
        
        <div class="sale_box sale_box_01">
            <img src="images/activity1111/sale_03.jpg" class="sale_box_top">
            <a href="javascript:;" data-goodsid="92675" data-goodsno="8015130" data-storeid="0"><img src="images/activity1111/sale_03_01.jpg"></a>
            <a href="javascript:;" data-goodsid="88014" data-goodsno="10020206" data-storeid="1031"><img src="images/activity1111/sale_03_02.jpg"></a>
            <a href="javascript:;" data-goodsid="85736" data-goodsno="10010001" data-storeid="1031"><img src="images/activity1111/sale_03_03.jpg"></a>
            <a href="javascript:;" data-goodsid="85906" data-goodsno="78780020" data-storeid="1031"><img src="images/activity1111/sale_03_04.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_02">
            <img src="images/activity1111/sale_04.jpg" class="sale_box_top">
            <a href="javascript:;" data-goodsid="10923" data-goodsno="8015530" data-storeid="0"><img src="images/activity1111/sale_04_01.jpg"></a>
            <a href="javascript:;" data-goodsid="86078" data-goodsno="10020005" data-storeid="1031"><img src="images/activity1111/sale_04_02.jpg"></a>
            <a href="javascript:;" data-goodsid="86250" data-goodsno="10020124" data-storeid="1031"><img src="images/activity1111/sale_04_03.jpg"></a>
            <a href="javascript:;" data-goodsid="86764" data-goodsno="10030016" data-storeid="1031"><img src="images/activity1111/sale_04_04.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_03">
            <img src="images/activity1111/sale_05.jpg" class="sale_box_top">
            <a href="javascript:;" data-goodsid="86260" data-goodsno="10020085" data-storeid="1031"><img src="images/activity1111/sale_05_01.jpg"></a>
            <a href="javascript:;" data-goodsid="86242" data-goodsno="10020081" data-storeid="1031"><img src="images/activity1111/sale_05_02.jpg"></a>
            <a href="javascript:;" data-goodsid="86256" data-goodsno="10020082" data-storeid="1031"><img src="images/activity1111/sale_05_03.jpg"></a>
            <a href="javascript:;" data-goodsid="86098" data-goodsno="10020104" data-storeid="1031"><img src="images/activity1111/sale_05_04.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_04">
            <img src="images/activity1111/sale_06.jpg" class="sale_box_top">
            <a href="javascript:;" data-goodsid="80970" data-goodsno="8021451" data-storeid="0"><img src="images/activity1111/sale_06_01.jpg"></a>
            <a href="javascript:;" data-goodsid="91028" data-goodsno="8005616" data-storeid="0"><img src="images/activity1111/sale_06_02.jpg"></a>
            <a href="javascript:;" data-goodsid="96893" data-goodsno="51000075" data-storeid="1031"><img src="images/activity1111/sale_06_03.jpg"></a>
            <a href="javascript:;" data-goodsid="96520" data-goodsno="8030381" data-storeid="0"><img src="images/activity1111/sale_06_04.jpg"></a>
        </div>
        
        <div class="sale_box sale_box_05">
            <img src="images/activity1111/sale_07.jpg" class="sale_box_top">
            <a href="javascript:;" data-goodsid="96528" data-goodsno="210000076" data-storeid="1081"><img src="images/activity1111/sale_07_01.jpg"></a>
            <a href="javascript:;" data-goodsid="87222" data-goodsno="20000000" data-storeid="1031"><img src="images/activity1111/sale_07_02.jpg"></a>
            <a href="javascript:;" data-goodsid="97056" data-goodsno="111100002" data-storeid="1101"><img src="images/activity1111/sale_07_03.jpg"></a>
            <a href="javascript:;" data-goodsid="95251" data-goodsno="30000011" data-storeid="1031"><img src="images/activity1111/sale_07_04.jpg"></a>
        </div>
        
        <div class="sale_footer_box">
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=972|1020|1024|1023|1022&pageIndex=1&flag=2"><img src="images/activity1111/sale_f01.jpg"></a>
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=1021|832|1143|1142|1145|1146&pageIndex=1&flag=2"><img src="images/activity1111/sale_f02.jpg"></a>
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=1147|1144|1148|1149|1150&pageIndex=1&flag=2"><img src="images/activity1111/sale_f03.jpg"></a>
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=1151|1152|1155|1156|1153|1154&pageIndex=1&flag=2"><img src="images/activity1111/sale_f04.jpg"></a>
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=1157|1158|1160|1164|1163&pageIndex=1&flag=2"><img src="images/activity1111/sale_f05.jpg"></a>
            <a href="http://app.lehumall.com/html5/app/activities.html?ids=1162|1159|1161|1167|1166&pageIndex=1&flag=2"><img src="images/activity1111/sale_f06.jpg"></a>
        </div>
        
        <div class="foot">
            <span>万人疯抢中，好货手慢无哦!</span>
        </div>
    
    </div>