<!--顶部--> 
  <div class="tabs">
  <a href="javascript:;" class="active"><span>团长</span></a> 
  <a href="javascript:;" ><span>团参</span></a> 
  <a href="javascript:;" ><span>成功团</span></a>
</div>

<!--列表-->   
<div class="swiper-container group_main">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        {{#each grouplist}}
        <div class="group_main_box">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix activityImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团</span>
                <a href="groupdetail.html?action=open&activityid=4" class="group_main_bt">去开团</a>
            </div>
        </div>
        {{/each}}
      </div>
  
      <div class="swiper-slide" style="display: none">
        <div class="group_main_box">
            <a href="javascript:;" class="group_main_img"><img src="images/group/pt_listimg.jpg"></a>
            <a href="javascript:;" class="group_main_title">【澳洲直邮】MEDIHEAL 可莱丝W.H.P美白保湿竹碳面膜10张</a>
            <div class="group_main_msg">
                <em><i>¥</i>79.00</em><del>¥99.00</del>
                <span><img src="images/group/pt_q.png">12人可成团<i>11人已参团</i></span>
                <a href="javascript:;" class="group_main_bt">参团</a>
            </div>
        </div>
        
        {{#each data.joinlist}}
        <div class="group_main_box">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix activityImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团<i>{{partakeNum}}人已参团</i></span>
                <a href="javascript:;" class="group_main_bt">参团</a>
            </div>
        </div>
        
        {{/each}}
        
      </div>
      
      <div class="swiper-slide" style="display: none">
        <div class="group_main_box">
            <a href="javascript:;" class="group_main_img"><img src="images/group/pt_listimg.jpg"></a>
            <a href="javascript:;" class="group_main_title">【澳洲直邮】MEDIHEAL 可莱丝W.H.P美白保湿竹碳面膜10张</a>
            <div class="group_main_msg">
                <em><i>¥</i>79.00</em><del>¥99.00</del>
                <span><img src="images/group/pt_q.png">12人可成团<i>团购成功</i></span>
                <a href="javascript:;" class="group_main_bt">拼团详情</a>
            </div>
        </div>

        {{#each data.successlist}}
          <div class="group_main_box">
            <a href="javascript:;" class="group_main_img"><img src="{{lehu-img imgprefix activityImg}}"></a>
            <a href="javascript:;" class="group_main_title">{{activityTitle}}</a>
            <div class="group_main_msg">
                <em><i>¥</i>{{activityPrice}}</em><del>¥{{goodsPrice}}</del>
                <span><img src="images/group/pt_q.png">{{totalNum}}人可成团<i>团购成功</i></span>
                <a href="javascript:;" class="group_main_bt">拼团详情</a>
            </div>
        </div>
        {{/each}}
        
      </div>
  
    </div>
</div>