.tabs{ width:100%; height:1rem; display:block; position:fixed; top:0; left:0; background:#444649; z-index:9;}
.tabs a{ width:33.333%; height:1rem; display:block; float:left; line-height:1rem; font-size:.34rem; color:#ffffff; text-align:center;}
.tabs a.active{ background:url(../img/pt_nav.png) no-repeat center bottom #ff7e1f; background-size:.4rem;}
.group_main{ width:100%; height:auto; display:block; float:left; margin:1rem 0 .5rem 0!important;}
.group_main_box{ width:100%; height:auto; display:block; float:left; margin:.4rem 0 0;}
.group_main_img{ width:26%; height:auto; display:block; float:left; margin:0 0 0 4%;}
.group_main_img img{ width:100%; height:auto; display: block; float:left;}
.group_main_title{ width:60%; height:1.05rem; overflow:hidden; color:#323232; font-size:.26rem; line-height:.35rem; display:block; float:right; margin-right:4%;word-break:break-all;}
.group_main_msg{ width:64%; height:auto; display:block; float:right; border-bottom:1px solid #e1e1e1; position:relative; padding-bottom:.1rem;}
.group_main_msg em,.group_main_msg del{ width:100%; height:auto;display:block; float:left;}
.group_main_msg em{ font-size:.36rem; color:#fe0101; font-weight:bold;}
.group_main_msg em i{ font-size:.3rem;}
.group_main_msg del{ font-size:.18rem; color:#909090; text-decoration:line-through; margin:.1rem 0 .15rem;}
.group_main_msg span{ width:70%; height:auto; display:block; float:left; font-size:.2rem; color:#999999;line-height: .3rem;}
.group_main_msg span img{ width:.25rem; height:auto; display:block; float:left; margin:0 .1rem 0 0;}
.group_main_bt{ width:auto; height:.6rem; line-height:.6rem; display:block; float:right; margin:-.38rem .24rem .1rem 0; padding:0 .25rem; border-radius:.1rem; background:#f74e4d; font-size:.22rem; color:#ffffff; position:absolute; bottom:0.05rem; right:0;}
.group_main_msg span i{ color:#fe0101; margin-left:.15rem;}

.footer{ width:100%; height:1rem; height:auto; display:block; float:left; position:fixed; left:0; bottom:0; background:#ffffff; z-index:9; overflow:hidden;}
.footer_msg{ width:32%; height:1rem; display:block; float:left; border-top:1px solid #e1e1e1; text-align:center; line-height:1rem; font-size:.24rem; color:#323232;}
.footer_msg img{ width:.4rem; height:auto; display:inline-block; margin-right:.1rem; margin-top:-.1rem;}
.footer_buy{ width:34%; height:1rem; display:block; float:left;border-top:1px solid #ffc001; background:#ffc001;text-align:center; line-height:.3rem; font-size:.24rem; color:#ffffff;}
.footer_open{ width:34%; height:1rem; display:block; float:left;border-top:1px solid #f5174b; background:#f5174b;text-align:center; line-height:.3rem; font-size:.24rem; color:#ffffff;}
.footer_buy i,.footer_open i{ width:100%; height:.3rem; display:block; float:left; margin:.25rem 0 0;}
.open_top{ width:100%; height:7.5rem; overflow:hidden;}
.open_top img{ width:100%; height:auto;}
.pagination { position:relative; z-index:9; margin-top:-1rem; width:100%; text-align:center;}
.pagination .swiper-pagination-bullet-active{background: #5babe6;}
.pagination .swiper-pagination-bullet{ width:.2rem; height:.2rem;}
.open_title{ width:94%; height:auto; display:block; float:left; border-bottom:.2rem solid #f5f5f5; padding:0 3% .2rem;}
.open_title p,.open_title span{ width:100%; height:auto; display:block; float:left; margin:.2rem 0 0; line-height:.3rem;}
.open_title p{ font-size:.3rem; color:#323232;}
.open_title span{ font-size:.26rem; color:#999999; margin-top:.1rem;}
.open_title em,.open_title del{ width:auto; height:auto; display:block; float:left; margin:.2rem 0 0;}
.open_title em{ font-size:.38rem; color:#f5174b;}
.open_title em i{ font-size:.24rem;}
.open_title del{ font-size:.24rem; color:#999999; text-decoration:line-through; margin:.3rem 0 0 .2rem;}
.open_card,.open_main{width:94%; height:auto; display:block; float:left; border-bottom:.2rem solid #f5f5f5; padding:.2rem 3%;}
.open_head{ width:100%; height:.7rem; line-height:.7rem; display:block; float:left; font-size:.28rem; color:#323232;}
.open_card_box{ width:100%; height:2.09rem;display:block; float:left;}
.open_card_box p{border:1px solid #e1e1e1;border-right:0; border-radius:.2rem 0 0 .2rem; width:32%; height:2.09rem; font-size:.27rem; color:#8c8c8c; text-align:center; display:block; float:left;}
.open_card_box p em{ width:100%; height:auto; display:block; float:left; font-size:.48rem; color:#f5174b; margin:.6rem 0 .2rem;}
.open_card_box p em i{ font-size:.3rem;}
.open_card_box img{ height:2.09rem; width:auto; display:block; float:left;}
.open_card_box span{border:1px solid #e1e1e1;border-left:0; border-radius:0 .2rem .2rem 0; width:60%; height:1.39rem; font-size:.27rem; color:#8c8c8c; display:block; float:left; padding:.7rem 0 0 2%; line-height:.47rem;}
.open_main{ margin-bottom:1.5rem; border-bottom:0;}
.open_main img{ width:100%; height:auto;}
















