<div class="global_footer max_width">
  <div class="footer_banner max_width">
    <div class="div_img main_width global_footer_show">
    </div>
  </div>
  <div class="wrap main_width clearfix mb_20 global_footer_show">
    <div class="logo f_left">
        <div class="div_img">
        </div>
        <p class="custom_service_tel">
            <i></i>
            <span>400-687-9090</span>
        </p>

        <p class="custom_service_time">
             周一至周日8：30-21：00<span>(全年无休)</span>
        </p>

        <p class="custom_service_email">kefu@u-life.cn</p>
    </div>
    <div class="content f_left">
      <div class="row1 border_left">
        <span class="bg_span">
        </span>
        <ul>
          <li class="title">
            购物指南
          </li>
          <li>
            <a rel="nofollow" href="/help/article/7" target="_blank">
              账户注册
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/9" target="_blank">
              购买流程
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/30" target="_blank">
              发票制度
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/8" target="_blank">
              联系客服
            </a>
          </li>
        </ul>
      </div>
      <div class="row2 border_left">
        <span class="bg_span">
        </span>
        <ul>
          <li class="title">
            支付方式
          </li>
          <li>
            <a rel="nofollow" href="/help/article/15" target="_blank">
              货到付款
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/16" target="_blank">
              在线支付
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/17" target="_blank">
              优惠券与U鲜卡
            </a>
          </li>
        </ul>
      </div>
      <div class="row3 border_left">
        <span class="bg_span">
        </span>
        <ul>
          <li class="title">
            配送标准
          </li>
          <li>
            <a rel="nofollow" href="/help/article/14" target="_blank">
              配送范围
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/13" target="_blank">
              运费信息
            </a>
          </li>
        </ul>
      </div>
      <div class="row4 border_left">
        <span class="bg_span">
        </span>
        <ul>
          <li class="title">
            售后服务
          </li>
          <li>
            <a rel="nofollow" href="/help/article/21" target="_blank">
              退换货政策
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/20" target="_blank">
              退换货流程
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/19" target="_blank">
              退款说明
            </a>
          </li>
          <li>
            <a rel="nofollow" href="/help/article/28" target="_blank">
              关于我们
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="qr_code f_right border_left">
      <span class="bg_span">
      </span>
      <div class="offical_weibo f_left">
        <span>
          <img src="http://i1.ucaiyuan.com/pc/images/home/qrcode_wb.png">
        </span>
        <h4>
          <i>
          </i>
          手机菜园
        </h4>
      </div>
      <div class="offical_wechat f_right">
        <span>
          <img src="http://i1.ucaiyuan.com/pc/images/qrcode.png">
        </span>
        <h4>
          <i>
          </i>
          官方微信
        </h4>
      </div>
    </div>
  </div>
  <div class="beian mt_20 pt_20">
    <h2 class="text_center mb_10">
      <a href="/help/article/28" target="_blank">
        关于都市菜园
      </a>
      &nbsp;|
      <a href="/help/article/27" target="_blank">
        合作伙伴
      </a>
      &nbsp;|
      <a href="/help/article/26" target="_blank">
        联系我们
      </a>
    </h2>
    <h2 class="text_center mb_10">
      友情链接:
      <a href="http://www.brightfood.com" target="_blank">
        光明食品集团
      </a>
      &nbsp;|
      <a href="http://www.ego365.com" target="_blank">
        易购优品
      </a>
      &nbsp;|
      <a href="http://www.96858.com.cn" target="_blank">
        一米生活
      </a>
      &nbsp;|
      <a href="http://www.962360.com" target="_blank">
        菜管家
      </a>
      &nbsp;|
      <a href="http://www.673573.com" target="_blank">
        上菜网
      </a>
      &nbsp;|
      <a href="http://www.chblt.com" target="_blank">
        便利通网
      </a>
      &nbsp;|
      <a href="http://www.1mutian.com" target="_blank">
        一亩田
      </a>
      &nbsp;
    </h2>
    <h2 class="text_center">
      © 2015 www.ucaiyuan.com All rights reserved
      <a target="_blank" href="http://www.miitbeian.gov.cn/">
        沪ICP备08109711号-7
      </a>
    </h2>
  </div>
  <div class="product_biao">
    <a class="gsj" href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=dov73ne26zbqq0il7c6jjpg3ug86razk0m'
    target='_blank' title="上海工商">
      <b>
      </b>
      <span>
        上海工商
      </span>
    </a>
    <a class="axnb" href='/activity/11044' target='_blank' title="安信农保">
      <b>
      </b>
      <span>
        安信农保
      </span>
    </a>
    <a class="hgwb" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502000013"
    title="沪公网安备">
      <b>
      </b>
      <span style="width:60px;">
        沪公网安备31010502000013
      </span>
    </a>
    <!--<a style="padding: 3px;width: 83px;height: 31px;vertical-align: middle;"
    key="5652c526efbfb0494515037a" logo_size="83x30" logo_type="official" href="http://www.anquan.org">
      <script defer="defer" async="async" src="http://static.anquan.org/static/outer/js/aq_auth.js">
      </script>
    </a>-->
    <a style="padding: 3px;width: 83px;height: 31px;vertical-align: middle;"  key ="5652c526efbfb0494515037a"  logo_size="83x30"  logo_type="official"  href="http://www.anquan.org" >
      <script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
    </a>
  </div>
</div>