  <div class="footer mini_width">
    <h2 class="link text_center mb_10">
      <a href="/help/article/28" target="_blank">
        关于都市菜园
      </a>
      &nbsp;|
      <a href="/help/article/27" target="_blank">
        合作伙伴
      </a>
      &nbsp;|
      <a href="/help/article/26" target="_blank">
        联系我们
      </a>
    </h2>
    <h2 class="text_center mb_10">
      友情链接:
      <a href="http://www.brightfood.com" target="_blank">
        光明食品集团
      </a>
      &nbsp;|
      <a href="http://www.ego365.com" target="_blank">
        易购优品
      </a>
      &nbsp;|
      <a href="http://www.96858.com.cn" target="_blank">
        一米生活
      </a>
      &nbsp;|
      <a href="http://www.962360.com" target="_blank">
        菜管家
      </a>
      &nbsp;|
      <a href="http://www.673573.com" target="_blank">
        上菜网
      </a>
      &nbsp;|
      <a href="http://www.chblt.com" target="_blank">
        便利通网
      </a>
      &nbsp;|
      <a href="http://www.1mutian.com" target="_blank">
        一亩田
      </a>
      &nbsp;
    </h2>
    <h2 class="text_center">
      © 2015 www.ucaiyuan.com All rights reserved
      <a target="_blank" href="http://www.miitbeian.gov.cn/
        ">
        沪ICP备08109711号-7
      </a>
    </h2>
    <div class="product_biao">
      <!--<SCRIPT LANGUAGE="JavaScript">
      document.writeln("<a href='https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=dov73ne26zbqq0il7c6jjpg3ug86razk0m' target='_blank'><img src='/web/r/images/icon.gif' border=0></a>")
      </SCRIPT>
<a class="axnb" href='/activity/11044' target='_blank'></a>-->
<a class="gsj" href='http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=dov73ne26zbqq0il7c6jjpg3ug86razk0m'
   target='_blank' title="上海工商">
  <b>
  </b>
          <span>
            上海工商
          </span>
</a>
<!--<a class="hgwb" href='http://www.zx110.org/picp?sn=310105100041807'
target='_blank' title="沪公网备"><b></b><span>沪公网备310105100041807</span></a>-->
<a class="hgwb" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502000013"
   title="沪公网安备">
  <b>
  </b>
          <span style="width:60px;">
            沪公网安备31010502000013
          </span>
</a>
<a style="padding: 3px;width: 83px;height: 31px;vertical-align: middle;"
   key="5652c526efbfb0494515037a" logo_size="83x30" logo_type="official" href="http://www.anquan.org">
  <script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
</a>
</div>
</div>