<meta charset="UTF-8">
<link rel="shortcut icon" href="http://i5.ucaiyuan.com/r/images/icon/favicon.ico">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no,email=no">

<link href="images/favicon.ico" rel="apple-touch-icon-precomposed">
<link href="images/favicon.ico" rel="Shortcut Icon" type="image/x-icon">

<!-- build:js({app, .tmp}) /scripts/common/require.min.js -->
 <script src="/scripts/common/require.min.js"></script>
<!-- endbuild -->

<!-- build:js({app, .tmp}) /scripts/common/lehu.h5.common.js -->
<script src="/scripts/common/lehu.h5.common.js"></script>
<!-- endbuild -->

<script>
require.config({urlArgs: "v=" + #jsversion#})
</script>

<meta name="restfullApi" content="http://app.lehumall.com">
