<div class="top_search max_width global_header">
  <div class="wrap clearfix">
    <div class="logo">
      <a href="<%=base%>/" name="__ad_logo">
        <img src="http://i1.ucaiyuan.com/pc/images/nlogo.png" />
      </a>
    </div>
    <div class="logo_m hide">
      <a href="<%=base%>/" name="__ad_log_m">
        <img src="http://i1.ucaiyuan.com/pc/images/logo-130-85.png" />
      </a>
    </div>
    <div class="slogan">
      <img src="http://i1.ucaiyuan.com/pc/images/home/slogan.jpg" />
    </div>
    <div class="top_search_search">
      <form action="<%=base%>/product/search" method="GET" class="clearfix" id="searchform">
        <input type="text" class="text keyword" name="kw" id="kw" <%="value=" + (Lizard.P("kw")||hotkeys[0])%>
        autocomplete="off" />
        <input type="submit" value="搜 索" class="submit" id="top_search" name="__ad_top_search"
        />
      </form>
      <span id="searchbox" class="searchbox">
      </span>
      <input type="hidden" id="searchboxurl" value="">
      <div class="search_list">
        <ul id="autocomplatedata">
        </ul>
      </div>
      <div class="search_hot">
        <label>
          热搜：
        </label>
        <%_.each(_.first(hotkeys, [8]), function(key){%>
        <a name="key" target="_blank" href="<%="/product/search?kw=" + encodeURIComponent(key) + "&__ad_top_search=搜+索"%>"><%=key%></a>
        <%})%>
      </div>
    </div>
    <div class="top_search_shopping_cart can_hover" id="cart_box" name="__ad_top_cart">
      <div class="f_left icon_wrap">
        <span class="top_search_cart_icon">
        </span>
        <b class="cart_num" id="cart_num">
          0
        </b>
        <span class="cover_line">
        </span>
        <div id="cart_lists" class="cart_list">
          <div id="settleup-content">
            <div class="smt">
              <h3>
                最新加入的商品
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_wrap f_right">
        <a href="<%=base%>/cart/list" class="top_search_submit_btn">
          去购物车结算
        </a>
      </div>
    </div>
  </div>
</div>
<!--
    作者：411367268@qq.com
    时间：2016-03-04
    描述：在首页用js控制nav样式的切换，当首屏出现在某个位置时显示吊顶时用（main_nav_fixed）这个样式，回到原来样子使用（main_nav_normal）这个样式
-->
<div class="main_nav main_nav_normal max_width global_header fixed">
  <div class="nav_menu main_width clearfix">
    <div class="categories f_left">
      <h2 class="dt">
        <a class="all" href="<%=base%>/">
          <span>
            全部商品分类
          </span>
          <i>
          </i>
        </a>
      </h2>
      <div class="dd all_menu hide">
        <div class="cat_list">
          <ul>
            <%
            categorys = _.filter(categorys, function(category){return category.name !== "其他"}).concat(_.filter(categorys, function(category){return category.name == "其他"}));
            _.each(categorys, function(category){%>
            <li class="item item<%=category.img%>">
              <div class="cat_list_dt">
                <h3>
                  <i class="left">
                  </i>
                  <a href="<%=base%>/product/list/<%=parseInt(category.id)%>">
                    <%=category.name%>
                  </a>
                </h3>
                <s>
                </s>
              </div>
              <div class="cat_list_wrap">
                <div class="cat_left">
                  <div class="cat_list_item">
                    <%
                    category.subCategories = _.filter(category.subCategories, function(s_category){return s_category.name !== "其他"}).concat(_.filter(category.subCategories, function(s_category){return s_category.name == "其他"}));
                    _.each(category.subCategories, function(s_category){%>
                    <dl>
                      <dt>
                        <a href="<%=base%>/product/list/<%=parseInt(s_category.id)%>">
                          <%=s_category.name%>
                        </a>
                      </dt>
                      <dd>
                        <%
                        s_category.subCategories = _.filter(s_category.subCategories, function(t_category){return t_category.name !== "其他"}).concat(_.filter(s_category.subCategories, function(t_category){return t_category.name == "其他"}))
                        _.each(s_category.subCategories, function(t_category){%>
                        <a href="<%=base%>/product/list/<%=parseInt(t_category.id)%>">
                          <%=t_category.name%>
                        </a>
                      <%})%>
                      </dd>
                    </dl>
                    <%})%>
                  </div>
                </div>
              </div>
            </li>
            <%})%>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu f_right clearfix">
      <ul class="clearfix">
        <li>
          <a href="<%=base%>/" class="active" name="__ad_sy">
            首页
          </a>
        </li>
        <li>
          <label class="hot"></label>
          <a href="<%=base%>/groupList" class="active" name="__ad_sy">
            吃货团
          </a>
        </li>
        <li>
          <a href="<%=base%>/channel/126" class="active" name="__ad_sy">
            光明专区
          </a>
        </li>
        <li>
          <a href="http://txp.365ulife.com/Home/Index" class="active" name="__ad_sy">
            天鲜配
          </a>
        </li>
      </ul>
      <div class="main_nav_fixed_search">
        <form action="<%=base%>/product/search" method="GET" class="clearfix" id="searchform">
          <input type="text" class="text keyword" name="kw" id="kw" value="<%=Lizard.P("kw")||hotkeys[0]%>" autocomplete="off" />
          <input type="submit" value="搜 索" class="submit" id="top_search" name="__ad_top_search" />
        </form>
        <span id="searchbox" class="searchbox"></span>
        <input type="hidden" id="searchboxurl" value="">

        <div class="search_list">
          <ul id="autocomplatedata">
          </ul>
        </div>
      </div>
      <div class="main_nav_normal_service_online can_hover">
        <img src="http://i1.ucaiyuan.com/pc/images/cafe.png">
      </div>
    </div>
  </div>
</div>