<div class="top_header max_width">
  <div class="wrap main_width">
    <div class="wrap_left f_left">
      <span class="collect js_collect">
        <b>
        </b>
        收藏本站
      </span>
      <span class="line_y">
        |
      </span>
      <span>
        欢迎来到
        <a href="<%=base%>/">
          都市菜园
        </a>
        ！
      </span>
    </div>
    <div class="wrap_right f_right">
      <ul>
        <li class="login">
          <span id="current_user_erea" style="display: none;">
            您好，
            <span class="all_name" title="">
              
            </span>
            <a class="js_logout">
              &nbsp;退出
            </a>
          </span>
          <span id="login_area">
            <a href="<%=base%>/login" name="__ad_qdl" class="js_login">
              请登录
            </a>
            &nbsp;/&nbsp;
            <a href="<%=base%>/register" name="__ad_zcyl" class="js_register">
              注册有礼
            </a>
          </span>
        </li>
        <!--li class="menus">
          <a onclick="jump('/member/order/list')" name="__ad_wddd">
            我的订单
          </a>
        </li-->
        <li class="menus js_center_menu">
          <a onclick="jump('/member/index')" name="__ad_grzx">
            个人中心
          </a>
          <b>
          </b>
          <span class="outline">
          </span>
          <span class="blank">
          </span>
          <div class="dd js_center_item">
            <!--div>
              <a href="<%=base%>/member/comments/list" name="__ad_wdpl">
                我的评论
              </a>
            </div-->
            <!--div>
              <a onclick="jump('/member/points')" name="__ad_wdjf">
                我的积分
              </a>
            </div-->
            <!--div>
              <a href="<%=base%>/member/collection/list" name="__ad_wdsc">
                我的收藏
              </a>
            </div-->
            <div>
              <a onclick="jump('/member/order/list')" name="__ad_wdyhq">
                我的订单
              </a>
            </div>
            <div>
              <a onclick="jump('/member/balance/list')" name="__ad_wduxk">
                我的余额
              </a>
            </div>
            <div>
              <a onclick="jump('/member/coupon/list')" name="__ad_wdyhq">
                我的优惠券
              </a>
            </div>
            
          </div>
        </li>
        <li class="menus three">
          <a name="__ad_dsfhz">
            第三方合作
          </a>
          <b>
          </b>
          <span class="outline">
          </span>
          <span class="blank">
          </span>
          <div class="dd">
            <div>
              <a name="百度" href="http://www.baidu.com" target="_blank">
                百度
              </a>
            </div>
            <div>
              <a name="新浪" href="http://www.sina.com.cn" target="_blank">
                新浪
              </a>
            </div>
          </div>
        </li>
        <li class="menus">
          <a href="<%=base%>/voucher/index" name="__ad_kqdh">
            卡券兑换
          </a>
        </li>
        <li class="menus">
          <a href="<%=base%>/jifen/index" name="__ad_kqdh">
            积分商城
          </a>
        </li>
        <li class="menus app_down_wrap can_hover">
          <a href="http://www.ucaiyuan.com/channel/81" class="mobile_btn_wrap"
          name="__ad_sjkhd">
            <i class="mobile_btn">
            </i>
            手机客户端
          </a>
          <div class="qr_code">
            <img src="http://i1.ucaiyuan.com/pc/images/home/qrcode_top.png">
          </div>
        </li>
        </li>
      </ul>
    </div>
  </div>
</div>