/* 爆发期页面 */
.burst_coupon{ width:100%; height:auto; display:block; float:left; margin-top:-1.85rem;}
.burst_coupon .main{ width:70%; height:auto;  margin:0 14% 0 16%; display:block; float:left;}
.burst_coupon .main h1{ width:100%;height:.3rem; font-size:.23rem;color:#ffffff;font-weight:bold; text-align:center; line-height:.3rem;display:block;float:left; padding-top:.1rem;}
.burst_coupon .main span{ width:100%; height:auto; font-size:.12rem; color:#edf501; text-align:center; line-height:.24rem;display:block; float:left;}
.burst_coupon .main a{ width:35%; height:auto; display:block; float:left; margin:.05rem 2% 0 13%;}
.burst_coupon .main a:last-child{ margin-left:2%;}
.burst_coupon .main a img{ width:100%; height:auto; display:block; float:left;}
.burst_floor,.burst_floor li{ width:100%; height:auto; display:block; float:left;}
.burst_floor li .floor_top{ height:1.2rem; background-image:url(../img/burst/burst_t01.jpg); line-height:1.2rem;}
.burst_floor li:nth-child(2) .floor_top{ background-image:url(../img/burst/burst_t02.jpg);}
.burst_floor li:nth-child(3) .floor_top{ background-image:url(../img/burst/burst_t03.jpg);}
.burst_floor li:nth-child(4) .floor_top{ background-image:url(../img/burst/burst_t04.jpg);}
.burst_floor li:nth-child(5) .floor_top{ background-image:url(../img/burst/burst_t05.jpg);}
body,.foot span{ background-color:#9827fd;}