body{ background:#a91bfe;}
.sale_top,.sale_msg,.sale_box,.sale_box_top,.sale_box a img,.sale_footer_box a img{ width:100%; height:auto; display:block; float:left;}
.sale_box,.sale_footer_box{ padding-bottom:.2rem;}
.sale_box a,.sale_footer_box a{ width:48.5%; height:auto; display:block; float:left; margin:.1rem 0 0 1%;}
.foot{margin:.5rem 5% .3rem;border-top: 1px solid #ffffff;position: relative;padding-top: .21rem; float:left; width:90%;}
.foot span{position: absolute;top: -.19rem;left: 44%;background-color: #a91bfe;padding: .05rem .15rem;color: #ffffff; font-size:.25rem;-webkit-transform: translateX(-38%);transform: translateX(-38%);}
.sale_box_01{ background:#f53737;}
.sale_box_02{ background:#ff8bc2;}
.sale_box_03{ background:#4fd07e;}
.sale_box_04{ background:#e9e225;}
.sale_box_05{ background:#51ddc3;}
