body{ background:#a91bfe;}
.activity_top,.activity_msg,.activity_box,.activity_box_top,.activity_box a img,.activity_footer_box a img{ width:100%; height:auto; display:block; float:left;}
.activity_rule{ position: relative}
.activity_rule a{ width:24%; height: .42rem; position: absolute; display: block; top: 11.82rem; left: 37% }
.activity_box,.activity_footer_box{ padding-bottom:.2rem;}
.activity_box a:nth-of-type(1),.activity_box a:nth-of-type(2),.activity_footer_box a:nth-of-type(1),.activity_footer_box a:nth-of-type(2){ width:48.5%; height:auto; display:block; float:left; margin:0 0 0 1%;}
.activity_box a,.activity_footer_box a{ width:48.5%; height:auto; display:block; float:left; margin:.1rem 0 0 1%;}
.foot{margin:.5rem 5% .3rem;border-top: 1px solid #ffffff;position: relative;padding-top: .21rem; float:left; width:90%;}
.foot span{position: absolute;top: -.19rem;left: 30%;background-color: #a91bfe;padding: .05rem .15rem;color: #ffffff; font-size:.25rem;-webkit-transform: translateX(-18%);transform: translateX(-18%);}
.activity_box_01{ background:#f53737;}
.activity_box_02{ background:#ff8bc2;}
.activity_box_03{ background:#4fd07e;}
.activity_box_04{ background:#e12410;}
.activity_box_05{ background:#00a1f2;}
