.login_main{ width:6.7rem; height:auto; display:block; float:left; margin:2rem .4rem 0;}
.login_main .item{width:100%;font-size:.26rem;float:left;}
.login_main .item.item_tips{margin-bottom:.1rem;display:none; height:.3rem;}
.login_main .item.item_tips .err_msg {font-size: .24rem;color: #f51449;}
.login_main .item .txt_input{width:5.89rem;height:1rem;line-height:normal;padding:0; border-bottom:1px solid #e1e1e1;font-size:.26rem;color:#666666;font-family:"Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif; float:left;}
.login_main .item .txt_input.txt_password{ width:4.89rem;}
.login_main .item_login_option{ height:.7rem;}
.login_main .item_login_option .retrieve_password{float:right;width:50%;text-align:right; line-height:.7rem;}
.login_main .item_login_option .retrieve_password a{color:#4997f1;font-size:.26rem; padding-left:.2rem;}
.login_main .item_login_option .login_free,.login_main .item_login_option .reg_protocol{float:left;width:auto; line-height:.7rem; font-size:.26rem; color:#646464;}
.login_main .item_login_option .login_free i,.login_main .item_reg_option .reg_protocol i{ background:url(../img/login_mei.png) no-repeat center center; background-size:100%; width:.26rem; height:.26rem;margin:.21rem .1rem 0 .81rem;}
.login_main .item_login_option .login_free.login_free_selected i,.login_main .item_reg_option .reg_protocol.reg_protocol_selected i{ background-image:url(../img/login_zhong.png);}
.reg_protocol a{ display:block; float:left;}
.login_main .item_reg_option{ height:1rem; line-height:1rem;}
.login_main .item_reg_option .reg_protocol i{ margin-top:.37rem;}
.login_main .item_btns .btn_login,.main .item_btns .btn_next{display:inline-block;width:100%;height:1rem;border-radius:.1rem;background:#f51449;text-decoration:none;line-height:1rem;text-align:center;font-size:.32rem;color:#fff;}
.login_main .item_btns .btn_disabled{background:#e2e2e2 !important;cursor:default;color:#bdbdbd}
.login_main .item_password .tp_btn{display:block;width:.44rem;height:.44rem;border-bottom:1px solid #e1e1e1; background:url(../img/login_kai.png) no-repeat center center; background-size:.44rem; display: block; float:left; padding:.28rem;}
.login_main .item_password .btn_off{ background-image:url(../img/login_kai.png);}
.login_main .item_password .btn_on{ background-image:url(../img/login_guan.png);}
.login_main .item.joint_login{margin:1rem 0 0;bottom:1rem;left:0;width:100%}
.login_main .item i{ width:.35rem; height:.44rem; display:block; float:left; margin:.28rem .23rem; background-repeat:no-repeat; background-position: center center; background-size:100%;}
.icon_tel{ background-image:url(../img/login_shouji.png);}
.icon_pwd{ background-image:url(../img/login_mima.png);}
.icon_sms{ background-image:url(../img/login_yanzm.png);}
.txt_input::-webkit-input-placeholder{color: #e1e1e1;}
.login_main .btn_retransmit{float:right;overflow:hidden;width:1.5rem;height:.6rem;background:#f51449;border-radius:.1rem;line-height:.6rem;text-align:center;cursor:pointer;font-size:.26rem;color:#ffffff; padding:0 .1rem; margin-top:-.8rem;}
.login_main .btn_retransmit_disabled{background:#e2e2e2 !important;cursor:default;color:#bdbdbd;}
.login_main .item_btns .btn_findpwd{ margin-top:1.4rem;}