.dial_bj{ background:#e72920;}
.dial_top{ width:100%; background:url(../img/dial_02.jpg) no-repeat; height:3.65rem; background-size:100%; display:block; float:left;}
.dial_top_box{ width:auto; margin:2.8rem auto 0; background:#da0112; line-height:.5rem; height:.5rem; color:#ffffff; font-size:.3rem; border-radius:.5rem; display: table; padding-right:.2rem;}
.dial_top_box img{ width:.58rem; height:.63rem; display:block; float:left; margin:-.17rem .2rem 0 .1rem;}
.dial_top_box span{ font-size:.34rem; color:#ffe800; font-weight:bold;}
.dial_main{ width:100%; background:url(../img/d.gif) no-repeat; height:5.8rem; background-size:100%; display:block; float:left;}
#lottery{
	width: 6.7rem; height:5.2rem;
	margin: .3rem 0 0 .5rem;
	
}

#lottery table td{
	width: 2.12rem;
	height: 1.68rem;
	text-align: center;
	vertical-align: middle;
	background:url(../img/dial_07.jpg) no-repeat;
	background-size:100%;
	font-size: .4rem;
	color: #e72920;
	line-height:1.68rem;
	margin:.04rem 0 0 .03rem; display:block; float:left; font-weight:bold;
}
#lottery table td.lottery-bt{ background-image:url(../img/dial_11.jpg);}

#lottery table td a{
	width:100%;
	height:100%;
	display: block;
	text-decoration: none;
}

#lottery table td.active{
	background-image:url(../img/dial_05.jpg);
}
#lottery td span{ width:100%; font-size:.24rem; height:.35rem; display:block; float:left;    line-height: .4rem;}
#lottery td p{ width:1.9rem; height:.8rem; display:block; float:left; margin:.18rem 0 .05rem .13rem; background-size:100%; line-height:.2rem; color:#ffffff; font-size:.16rem; background-repeat:no-repeat;}
#lottery td p em{ width:auto; font-size:.18rem; line-height:.3rem; height:.3rem; display:table; border-bottom:1px dashed #ffffff; margin:.08rem auto;}
#lottery td p em b{ font-size:.35rem; font-weight:bold;}
#lottery td p.lottery-bg01{ background-image:url(../img/z_01.png);}
#lottery td p.lottery-bg02{ background-image:url(../img/z_02.png);}
#lottery td p.lottery-bg03{ background-image:url(../img/z_03.png);}
#lottery td p.lottery-bg04{ background-image:url(../img/z_04.png);}
#lottery td p.lottery-bg05{ background-image:url(../img/z_05.png);}
#lottery td p.lottery-bg06{ background-image:url(../img/z_06.png);}
.dial_msg{ width:100%; height:auto; display:block; float:left; margin:.5rem 0;}
.dial_msg img{ width:100%; height:auto; display:block; float:left;}
.dial_msg_box{ width:100%; height:3.5rem; overflow:hidden; background:url(../img/dial_15.png) repeat-y; background-size:100%; display:block;}
.dial_msg_box li{ width:80%; height:.7rem; display:block; float:left; margin:0 8.5%; line-height:.7rem; font-size:.26rem; color:#5d0008; background:#fee9b4; padding:0 1.5%; }
.dial_msg_box li span{ width:40%; color:#e72920; display:block; float:left;text-align:center; margin-left:2%;}
.dial_msg_box li em{display:block; float:left;}
.dial_msg_box li i{display:block; float: right;}
.dial_msg_box li:nth-child(odd){ background:#fee299;}

.dial_footer{ width:88%; height:auto; padding:0 6% 1rem;float:left;}
.dial_footer img{ width:50%; height:auto; display:block; float:left; margin:0 25% .2rem;}
.dial_footer p{font-size:.26rem; color:#fff596; line-height:.4rem; display:block; float:left;}