<!doctype html public "restroom">
<meta charset="utf-8"/>
<title>汇银乐虎</title>

<link href="/assets/global_m.css" rel="stylesheet">
<link href="/assets/layout_2015.css" rel="stylesheet">
<link href="/assets/plus/swiper.min.css" rel="stylesheet">

<style type="text/css">
	::-webkit-scrollbar{display:none} 
	::-webkit-scrollbar{width:1px;height:1px} 
	::scrollbar{width:1px;height:1px}
	#ajax_prommotionLayout .swiper-wrapper {
	    font-size: 0;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    margin-right: -20.48px;
	    padding-right: 20.48px;
	}
	.swiper-pagination {
		width: 100%;
	}
	.swiper-pagination span{
		margin: 0 5px;
	}
</style>

<body class="jbox" style="visibility: visible;">

<div id="app">¡HTML!</div>

<script>
__DATA__ = ¡DATA!;
</script>

<script src="/js/main.js"></script>